@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.woff') format('woff'),
        url('../fonts/Yekan.woff2') format('woff2');
}

.container {
    font-family: 'Yekan';
}

.buy {
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: blue;
    color: white;
    margin: 10px 0 10px 10px;
    font-family: 'Yekan';
}

.sell {
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: gray;
    color: black;
    margin: 10px 10px 10px 0;
    font-family: 'Yekan';
}

.input {
    display: block;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    width: 220px;
    height: 30px;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Yekan';
}

.count {
    display: inline-block;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    width: 150px;
    height: 30px;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Yekan';
}

.incre { 
    width: 25px;
    height: 30px;
    border-style: none;
    background-color: blue;
    color: white;
    margin: 5px;
}

.submit { 
    width: 220px;
    height: 30px;
    border-style: none;
    background-color: blue;
    color: white;
    font-family: 'Yekan';
}