@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.woff') format('woff'),
        url('../fonts/Yekan.woff2') format('woff2');
}

.container {
    display: flex;
    font-family: 'Yekan';
}

.nav {
    flex-shrink: 0;
}

.h2 {
    display: block;
    height: 30px;
    width: 200px;
}

.orders {
    margin:10px 20px;
    width: 100vw;
    overflow: auto;
}

.orderTable {
    margin: 40px 0;
}

.pagi {
    text-align: center;
    width: 300px;
    margin: 50px 40%;
    color: black;
}

.loading {
    z-index: 100;
    position: absolute;
    background-color: rgba(204, 204, 204, 0.5);
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-right: 40%;
    padding-top: 100px;       
}